@font-face {
  font-family: 'flowbite-icons';
  src:  url('fonts/flowbite-icons.eot?1mczpa');
  src:  url('fonts/flowbite-icons.eot?1mczpa#iefix') format('embedded-opentype'),
    url('fonts/flowbite-icons.ttf?1mczpa') format('truetype'),
    url('fonts/flowbite-icons.woff?1mczpa') format('woff'),
    url('fonts/flowbite-icons.svg?1mczpa#flowbite-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fb-icon-"], [class*=" fb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flowbite-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fb-icon-adjustments-horizontal-filled:before {
  content: "\ea92";
}
.fb-icon-adjustments-vertical-filled:before {
  content: "\ea93";
}
.fb-icon-annotation-filled:before {
  content: "\ea94";
}
.fb-icon-archive-filled:before {
  content: "\ea95";
}
.fb-icon-arrow-up-right-from-square-filled:before {
  content: "\ea96";
}
.fb-icon-award-filled:before {
  content: "\ea97";
}
.fb-icon-badge-check-filled:before {
  content: "\ea98";
}
.fb-icon-bell-active-alt-filled:before {
  content: "\ea99";
}
.fb-icon-bell-active-filled:before {
  content: "\ea9a";
}
.fb-icon-bell-ring-filled:before {
  content: "\ea9b";
}
.fb-icon-bell-filled:before {
  content: "\ea9c";
}
.fb-icon-blender-phone-filled:before {
  content: "\ea9d";
}
.fb-icon-book-open-filled:before {
  content: "\ea9e";
}
.fb-icon-book-filled:before {
  content: "\ea9f";
}
.fb-icon-bookmark-filled:before {
  content: "\eaa0";
}
.fb-icon-brain-filled:before {
  content: "\eaa1";
}
.fb-icon-briefcase-filled:before {
  content: "\eaa2";
}
.fb-icon-bug-filled:before {
  content: "\eaa3";
}
.fb-icon-building-filled:before {
  content: "\eaa4";
}
.fb-icon-bullhorn-filled:before {
  content: "\eaa5";
}
.fb-icon-calendar-edit-filled:before {
  content: "\eaa6";
}
.fb-icon-calendar-month-filled:before {
  content: "\eaa7";
}
.fb-icon-calendar-plus-filled:before {
  content: "\eaa8";
}
.fb-icon-calendar-week-filled:before {
  content: "\eaa9";
}
.fb-icon-chart-mixed-dollar-filled:before {
  content: "\eaaa";
}
.fb-icon-chart-pie-filled:before {
  content: "\eaab";
}
.fb-icon-check-circle-filled:before {
  content: "\eaac";
}
.fb-icon-check-plus-circle-filled:before {
  content: "\eaad";
}
.fb-icon-circle-minus-filled:before {
  content: "\eaae";
}
.fb-icon-circle-plus-filled:before {
  content: "\eaaf";
}
.fb-icon-clock-filled:before {
  content: "\eab0";
}
.fb-icon-close-circle-filled:before {
  content: "\eab1";
}
.fb-icon-cloud-arrow-up-filled:before {
  content: "\eab2";
}
.fb-icon-code-branch-filled:before {
  content: "\eab3";
}
.fb-icon-code-fork-filled:before {
  content: "\eab4";
}
.fb-icon-code-merge-filled:before {
  content: "\eab5";
}
.fb-icon-code-pull-request-filled:before {
  content: "\eab6";
}
.fb-icon-cog-filled:before {
  content: "\eab7";
}
.fb-icon-column-filled:before {
  content: "\eab8";
}
.fb-icon-database-filled:before {
  content: "\eab9";
}
.fb-icon-desktop-pc-filled:before {
  content: "\eaba";
}
.fb-icon-download-filled:before {
  content: "\eabb";
}
.fb-icon-draw-square-filled:before {
  content: "\eabc";
}
.fb-icon-edit-filled:before {
  content: "\eabd";
}
.fb-icon-envelope-open-filled:before {
  content: "\eabe";
}
.fb-icon-envelope-filled:before {
  content: "\eabf";
}
.fb-icon-exclamation-circle-filled:before {
  content: "\eac0";
}
.fb-icon-eye-slash-filled:before {
  content: "\eac1";
}
.fb-icon-eye-filled:before {
  content: "\eac2";
}
.fb-icon-filter-filled:before {
  content: "\eac3";
}
.fb-icon-fire-filled:before {
  content: "\eac4";
}
.fb-icon-flag-filled:before {
  content: "\eac5";
}
.fb-icon-floppy-disk-alt-filled:before {
  content: "\eac6";
}
.fb-icon-floppy-disk-filled:before {
  content: "\eac7";
}
.fb-icon-gift-box-filled:before {
  content: "\eac8";
}
.fb-icon-globe-filled:before {
  content: "\eac9";
}
.fb-icon-grid-plus-filled:before {
  content: "\eaca";
}
.fb-icon-grid-filled:before {
  content: "\eacb";
}
.fb-icon-heart-filled:before {
  content: "\eacc";
}
.fb-icon-home-filled:before {
  content: "\eacd";
}
.fb-icon-hourglass-filled:before {
  content: "\eace";
}
.fb-icon-image-filled:before {
  content: "\eacf";
}
.fb-icon-inbox-full-filled:before {
  content: "\ead0";
}
.fb-icon-inbox-filled:before {
  content: "\ead1";
}
.fb-icon-info-circle-filled:before {
  content: "\ead2";
}
.fb-icon-keyboard-filled:before {
  content: "\ead3";
}
.fb-icon-label-filled:before {
  content: "\ead4";
}
.fb-icon-landmark-filled:before {
  content: "\ead5";
}
.fb-icon-layers-filled:before {
  content: "\ead6";
}
.fb-icon-life-saver-filled:before {
  content: "\ead7";
}
.fb-icon-lightbulb-filled:before {
  content: "\ead8";
}
.fb-icon-lock-open-filled:before {
  content: "\ead9";
}
.fb-icon-lock-time-filled:before {
  content: "\eada";
}
.fb-icon-lock-filled:before {
  content: "\eadb";
}
.fb-icon-mail-box-filled:before {
  content: "\eadc";
}
.fb-icon-map-pin-alt-filled:before {
  content: "\eadd";
}
.fb-icon-map-pin-filled:before {
  content: "\eade";
}
.fb-icon-message-caption-filled:before {
  content: "\eadf";
}
.fb-icon-message-dots-filled:before {
  content: "\eae0";
}
.fb-icon-messages-filled:before {
  content: "\eae1";
}
.fb-icon-mobile-phone-filled:before {
  content: "\eae2";
}
.fb-icon-newspaper-filled:before {
  content: "\eae3";
}
.fb-icon-objects-column-filled:before {
  content: "\eae4";
}
.fb-icon-palette-filled:before {
  content: "\eae5";
}
.fb-icon-paper-plane-filled:before {
  content: "\eae6";
}
.fb-icon-pen-nib-filled:before {
  content: "\eae7";
}
.fb-icon-pen-filled:before {
  content: "\eae8";
}
.fb-icon-phone-hangup-filled:before {
  content: "\eae9";
}
.fb-icon-phone-filled:before {
  content: "\eaea";
}
.fb-icon-printer-filled:before {
  content: "\eaeb";
}
.fb-icon-question-circle-filled:before {
  content: "\eaec";
}
.fb-icon-rocket-filled:before {
  content: "\eaed";
}
.fb-icon-search-filled:before {
  content: "\eaee";
}
.fb-icon-server-filled:before {
  content: "\eaef";
}
.fb-icon-share-nodes-filled:before {
  content: "\eaf0";
}
.fb-icon-shield-check-filled:before {
  content: "\eaf1";
}
.fb-icon-shield-filled:before {
  content: "\eaf2";
}
.fb-icon-star-half-stroke-filled:before {
  content: "\eaf3";
}
.fb-icon-star-half-filled:before {
  content: "\eaf4";
}
.fb-icon-star-filled:before {
  content: "\eaf5";
}
.fb-icon-swatchbook-filled:before {
  content: "\eaf6";
}
.fb-icon-table-column-filled:before {
  content: "\eaf7";
}
.fb-icon-table-row-filled:before {
  content: "\eaf8";
}
.fb-icon-tablet-filled:before {
  content: "\eaf9";
}
.fb-icon-terminal-filled:before {
  content: "\eafa";
}
.fb-icon-ticket-filled:before {
  content: "\eafb";
}
.fb-icon-trash-bin-filled:before {
  content: "\eafc";
}
.fb-icon-truck-filled:before {
  content: "\eafd";
}
.fb-icon-upload-filled:before {
  content: "\eafe";
}
.fb-icon-volume-down-filled:before {
  content: "\eaff";
}
.fb-icon-volume-up-filled:before {
  content: "\eb00";
}
.fb-icon-wand-magic-sparkles-filled:before {
  content: "\eb01";
}
.fb-icon-window-restore:before {
  content: "\eb02";
}
.fb-icon-window-filled:before {
  content: "\eb03";
}
.fb-icon-zoom-in-filled:before {
  content: "\eb04";
}
.fb-icon-zoom-out-filled:before {
  content: "\eb05";
}
.fb-icon-arrow-right-alt-filled:before {
  content: "\ea88";
}
.fb-icon-caret-down-filled:before {
  content: "\ea89";
}
.fb-icon-caret-left-filled:before {
  content: "\ea8a";
}
.fb-icon-caret-right-filled:before {
  content: "\ea8b";
}
.fb-icon-caret-sort-filled:before {
  content: "\ea8c";
}
.fb-icon-caret-up-filled:before {
  content: "\ea8d";
}
.fb-icon-forward-filled:before {
  content: "\ea8e";
}
.fb-icon-reply-all-filled:before {
  content: "\ea8f";
}
.fb-icon-reply-filled:before {
  content: "\ea90";
}
.fb-icon-share-all-filled:before {
  content: "\ea91";
}
.fb-icon-file-circle-plus-filled:before {
  content: "\ea57";
}
.fb-icon-archive-arrow-down-filled:before {
  content: "\ea58";
}
.fb-icon-clipboard-check-filled:before {
  content: "\ea59";
}
.fb-icon-clipboard-clean-filled:before {
  content: "\ea5a";
}
.fb-icon-clipboard-list-filled:before {
  content: "\ea5b";
}
.fb-icon-clipboard-filled:before {
  content: "\ea5c";
}
.fb-icon-file-chart-bar-filled:before {
  content: "\ea5d";
}
.fb-icon-file-check-filled:before {
  content: "\ea5e";
}
.fb-icon-file-clone-filled:before {
  content: "\ea5f";
}
.fb-icon-file-code-filled:before {
  content: "\ea60";
}
.fb-icon-file-copy-alt-filled:before {
  content: "\ea61";
}
.fb-icon-file-copy-filled:before {
  content: "\ea62";
}
.fb-icon-file-csv-filled:before {
  content: "\ea63";
}
.fb-icon-file-doc-filled:before {
  content: "\ea64";
}
.fb-icon-file-export-filled:before {
  content: "\ea65";
}
.fb-icon-file-image-filled:before {
  content: "\ea66";
}
.fb-icon-file-import-filled:before {
  content: "\ea67";
}
.fb-icon-file-invoice-filled:before {
  content: "\ea68";
}
.fb-icon-file-lines-filled:before {
  content: "\ea69";
}
.fb-icon-file-music-filled:before {
  content: "\ea6a";
}
.fb-icon-file-paste-filled:before {
  content: "\ea6b";
}
.fb-icon-file-pdf-filled:before {
  content: "\ea6c";
}
.fb-icon-file-pen-filled:before {
  content: "\ea6d";
}
.fb-icon-file-ppt-filled:before {
  content: "\ea6e";
}
.fb-icon-file-search-filled:before {
  content: "\ea6f";
}
.fb-icon-file-shield-filled:before {
  content: "\ea70";
}
.fb-icon-file-video-filled:before {
  content: "\ea71";
}
.fb-icon-file-word-filled:before {
  content: "\ea72";
}
.fb-icon-file-zip-filled:before {
  content: "\ea73";
}
.fb-icon-file-filled:before {
  content: "\ea74";
}
.fb-icon-folder-arrow-right-filled:before {
  content: "\ea75";
}
.fb-icon-folder-duplicate-filled:before {
  content: "\ea76";
}
.fb-icon-folder-open-filled:before {
  content: "\ea77";
}
.fb-icon-folder-plus-filled:before {
  content: "\ea78";
}
.fb-icon-folder-filled:before {
  content: "\ea79";
}
.fb-icon-cart-filled:before {
  content: "\ea7a";
}
.fb-icon-cart-plus-alt-filled:before {
  content: "\ea7b";
}
.fb-icon-cart-plus-filled:before {
  content: "\ea7c";
}
.fb-icon-cash-filled:before {
  content: "\ea7d";
}
.fb-icon-credit-card-plus-filled:before {
  content: "\ea7e";
}
.fb-icon-credit-card-filled:before {
  content: "\ea7f";
}
.fb-icon-receipt-filled:before {
  content: "\ea80";
}
.fb-icon-sale-percent-filled:before {
  content: "\ea81";
}
.fb-icon-scale-balanced-filled:before {
  content: "\ea82";
}
.fb-icon-shopping-bag-filled:before {
  content: "\ea83";
}
.fb-icon-store-filled:before {
  content: "\ea84";
}
.fb-icon-tag-filled:before {
  content: "\ea85";
}
.fb-icon-user-headset-filled:before {
  content: "\ea86";
}
.fb-icon-wallet-filled:before {
  content: "\ea87";
}
.fb-icon-list-music-filled:before {
  content: "\ea46";
}
.fb-icon-backward-step-filled:before {
  content: "\ea47";
}
.fb-icon-camera-photo-filled:before {
  content: "\ea48";
}
.fb-icon-caption-filled:before {
  content: "\ea49";
}
.fb-icon-circle-pause-filled:before {
  content: "\ea4a";
}
.fb-icon-clapperboard-play-filled:before {
  content: "\ea4b";
}
.fb-icon-computer-speaker-filled:before {
  content: "\ea4c";
}
.fb-icon-forward-step-filled:before {
  content: "\ea4d";
}
.fb-icon-headphones-filled:before {
  content: "\ea4e";
}
.fb-icon-microphone-slash-filled:before {
  content: "\ea4f";
}
.fb-icon-microphone-filled:before {
  content: "\ea50";
}
.fb-icon-pause-filled:before {
  content: "\ea51";
}
.fb-icon-play-filled:before {
  content: "\ea52";
}
.fb-icon-rectangle-list-filled:before {
  content: "\ea53";
}
.fb-icon-stop-filled:before {
  content: "\ea54";
}
.fb-icon-video-camera-filled:before {
  content: "\ea55";
}
.fb-icon-volume-mute-filled:before {
  content: "\ea56";
}
.fb-icon-face-explode-filled:before {
  content: "\ea40";
}
.fb-icon-face-grin-stars-filled:before {
  content: "\ea41";
}
.fb-icon-face-grin-filled:before {
  content: "\ea42";
}
.fb-icon-face-laugh-filled:before {
  content: "\ea43";
}
.fb-icon-thumbs-down-filled:before {
  content: "\ea44";
}
.fb-icon-thumbs-up-filled:before {
  content: "\ea45";
}
.fb-icon-indent-filled:before {
  content: "\ea3c";
}
.fb-icon-outdent-filled:before {
  content: "\ea3d";
}
.fb-icon-paragraph-filled:before {
  content: "\ea3e";
}
.fb-icon-quote-filled:before {
  content: "\ea3f";
}
.fb-icon-moon-filled:before {
  content: "\ea3a";
}
.fb-icon-sun-filled:before {
  content: "\ea3b";
}
.fb-icon-users-group-filled:before {
  content: "\ea30";
}
.fb-icon-address-book-filled:before {
  content: "\ea31";
}
.fb-icon-profile-card-filled:before {
  content: "\ea32";
}
.fb-icon-user-add-filled:before {
  content: "\ea33";
}
.fb-icon-user-circle-filled:before {
  content: "\ea34";
}
.fb-icon-user-edit-filled:before {
  content: "\ea35";
}
.fb-icon-user-remove-filled:before {
  content: "\ea36";
}
.fb-icon-user-settings-filled:before {
  content: "\ea37";
}
.fb-icon-user-filled:before {
  content: "\ea38";
}
.fb-icon-users-filled:before {
  content: "\ea39";
}
.fb-icon-address-book:before {
  content: "\ea26";
}
.fb-icon-profile-card:before {
  content: "\ea27";
}
.fb-icon-user-add:before {
  content: "\ea28";
}
.fb-icon-user-circle:before {
  content: "\ea29";
}
.fb-icon-user-edit:before {
  content: "\ea2a";
}
.fb-icon-user-remove:before {
  content: "\ea2b";
}
.fb-icon-user-settings:before {
  content: "\ea2c";
}
.fb-icon-user:before {
  content: "\ea2d";
}
.fb-icon-users-group:before {
  content: "\ea2e";
}
.fb-icon-users:before {
  content: "\ea2f";
}
.fb-icon-moon:before {
  content: "\ea24";
}
.fb-icon-sun:before {
  content: "\ea25";
}
.fb-icon-quote:before {
  content: "\ea16";
}
.fb-icon-align-center:before {
  content: "\ea17";
}
.fb-icon-indent:before {
  content: "\ea18";
}
.fb-icon-language .path1:before {
  content: "\ea19";
  color: rgb(255, 255, 255);
}
.fb-icon-language .path2:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-letter-bold:before {
  content: "\ea1b";
}
.fb-icon-letter-italic:before {
  content: "\ea1c";
}
.fb-icon-letter-underline:before {
  content: "\ea1d";
}
.fb-icon-list:before {
  content: "\ea1e";
}
.fb-icon-ordered-list:before {
  content: "\ea1f";
}
.fb-icon-outdent:before {
  content: "\ea20";
}
.fb-icon-paragraph:before {
  content: "\ea21";
}
.fb-icon-text-size:before {
  content: "\ea22";
}
.fb-icon-text-slash:before {
  content: "\ea23";
}
.fb-icon-thumbs-down:before {
  content: "\ea0c";
}
.fb-icon-face-explode .path1:before {
  content: "\ea0d";
  color: rgb(56, 56, 56);
}
.fb-icon-face-explode .path2:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-face-grin-stars .path1:before {
  content: "\ea0f";
  color: rgb(0, 0, 0);
}
.fb-icon-face-grin-stars .path2:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-face-grin-stars .path3:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(56, 56, 56);
}
.fb-icon-face-grin-stars .path4:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-face-grin:before {
  content: "\ea13";
}
.fb-icon-face-laugh:before {
  content: "\ea14";
}
.fb-icon-thumbs-up:before {
  content: "\ea15";
}
.fb-icon-list-music:before {
  content: "\e9f9";
}
.fb-icon-backward-step:before {
  content: "\e9fa";
}
.fb-icon-camera-photo:before {
  content: "\e9fb";
}
.fb-icon-caption:before {
  content: "\e9fc";
}
.fb-icon-circle-pause:before {
  content: "\e9fd";
}
.fb-icon-clapperboard-play:before {
  content: "\e9fe";
}
.fb-icon-computer-speaker:before {
  content: "\e9ff";
}
.fb-icon-forward-step:before {
  content: "\ea00";
}
.fb-icon-headphones:before {
  content: "\ea01";
}
.fb-icon-microphone-slash:before {
  content: "\ea02";
}
.fb-icon-microphone:before {
  content: "\ea03";
}
.fb-icon-pause:before {
  content: "\ea04";
}
.fb-icon-play:before {
  content: "\ea05";
}
.fb-icon-rectangle-list:before {
  content: "\ea06";
}
.fb-icon-shuffle:before {
  content: "\ea07";
}
.fb-icon-stop:before {
  content: "\ea08";
}
.fb-icon-video-camera:before {
  content: "\ea09";
}
.fb-icon-volume-mute .path1:before {
  content: "\ea0a";
  color: rgb(255, 255, 255);
}
.fb-icon-volume-mute .path2:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-dollar:before {
  content: "\e9e8";
}
.fb-icon-cart-plus-alt:before {
  content: "\e9e9";
}
.fb-icon-cart-plus:before {
  content: "\e9ea";
}
.fb-icon-cart:before {
  content: "\e9eb";
}
.fb-icon-cash:before {
  content: "\e9ec";
}
.fb-icon-credit-card-plus .path1:before {
  content: "\e9ed";
  color: rgb(255, 255, 255);
}
.fb-icon-credit-card-plus .path2:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-credit-card:before {
  content: "\e9ef";
}
.fb-icon-euro:before {
  content: "\e9f0";
}
.fb-icon-receipt:before {
  content: "\e9f1";
}
.fb-icon-sale-percent:before {
  content: "\e9f2";
}
.fb-icon-scale-balanced:before {
  content: "\e9f3";
}
.fb-icon-shopping-bag:before {
  content: "\e9f4";
}
.fb-icon-store:before {
  content: "\e9f5";
}
.fb-icon-tag:before {
  content: "\e9f6";
}
.fb-icon-user-headset:before {
  content: "\e9f7";
}
.fb-icon-wallet:before {
  content: "\e9f8";
}
.fb-icon-clipboard-clean .path1:before {
  content: "\e996";
  color: rgb(255, 255, 255);
}
.fb-icon-clipboard-clean .path2:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-archive-arrow-down:before {
  content: "\e9c3";
}
.fb-icon-clipboard-check:before {
  content: "\e9c4";
}
.fb-icon-clipboard-list:before {
  content: "\e9c5";
}
.fb-icon-clipboard:before {
  content: "\e9c6";
}
.fb-icon-file-chart-bar:before {
  content: "\e9c7";
}
.fb-icon-file-check:before {
  content: "\e9c8";
}
.fb-icon-file-circle-plus:before {
  content: "\e9c9";
}
.fb-icon-file-clone:before {
  content: "\e9ca";
}
.fb-icon-file-code:before {
  content: "\e9cb";
}
.fb-icon-file-copy-alt:before {
  content: "\e9cc";
}
.fb-icon-file-copy:before {
  content: "\e9cd";
}
.fb-icon-file-csv:before {
  content: "\e9ce";
}
.fb-icon-file-doc .path1:before {
  content: "\e9cf";
  color: rgb(255, 255, 255);
}
.fb-icon-file-doc .path2:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-file-export:before {
  content: "\e9d1";
}
.fb-icon-file-image .path1:before {
  content: "\e9d2";
  color: rgb(56, 56, 56);
}
.fb-icon-file-image .path2:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-file-import:before {
  content: "\e9d4";
}
.fb-icon-file-invoice:before {
  content: "\e9d5";
}
.fb-icon-file-lines:before {
  content: "\e9d6";
}
.fb-icon-file-music:before {
  content: "\e9d7";
}
.fb-icon-file-paste:before {
  content: "\e9d8";
}
.fb-icon-file-pdf:before {
  content: "\e9d9";
}
.fb-icon-file-pen:before {
  content: "\e9da";
}
.fb-icon-file-ppt:before {
  content: "\e9db";
}
.fb-icon-file-search:before {
  content: "\e9dc";
}
.fb-icon-file-shield:before {
  content: "\e9dd";
}
.fb-icon-file-video:before {
  content: "\e9de";
}
.fb-icon-file-word:before {
  content: "\e9df";
}
.fb-icon-file-zip:before {
  content: "\e9e0";
}
.fb-icon-file:before {
  content: "\e9e1";
}
.fb-icon-folder-arrow-right:before {
  content: "\e9e2";
}
.fb-icon-folder-duplicate:before {
  content: "\e9e3";
}
.fb-icon-folder-open:before {
  content: "\e9e4";
}
.fb-icon-folder-plus:before {
  content: "\e9e5";
}
.fb-icon-folder:before {
  content: "\e9e6";
}
.fb-icon-arrow-up-from-bracket:before {
  content: "\e9a3";
}
.fb-icon-arrow-up-right-down-left:before {
  content: "\e9a4";
}
.fb-icon-arrow-up:before {
  content: "\e9a5";
}
.fb-icon-arrows-repeat-count:before {
  content: "\e9a6";
}
.fb-icon-arrows-repeat:before {
  content: "\e9a7";
}
.fb-icon-caret-down:before {
  content: "\e9a8";
}
.fb-icon-chevron-double-right:before {
  content: "\e9af";
}
.fb-icon-chevron-double-up:before {
  content: "\e9b0";
}
.fb-icon-chevron-down:before {
  content: "\e9b1";
}
.fb-icon-chevron-left:before {
  content: "\e9b2";
}
.fb-icon-chevron-right:before {
  content: "\e9b3";
}
.fb-icon-arrow-left-to-bracket:before {
  content: "\e99c";
}
.fb-icon-arrow-left:before {
  content: "\e99d";
}
.fb-icon-arrow-right-alt:before {
  content: "\e99e";
}
.fb-icon-arrow-right-to-bracket:before {
  content: "\e99f";
}
.fb-icon-arrow-right:before {
  content: "\e9a0";
}
.fb-icon-arrow-sort-letters:before {
  content: "\e9a1";
}
.fb-icon-arrow-up-down:before {
  content: "\e9a2";
}
.fb-icon-chevron-sort:before {
  content: "\e9b4";
}
.fb-icon-chevron-up:before {
  content: "\e9b5";
}
.fb-icon-compress:before {
  content: "\e9b6";
}
.fb-icon-expand:before {
  content: "\e9b7";
}
.fb-icon-forward:before {
  content: "\e9b8";
}
.fb-icon-minimize:before {
  content: "\e9b9";
}
.fb-icon-redo:before {
  content: "\e9ba";
}
.fb-icon-refresh:before {
  content: "\e9bb";
}
.fb-icon-angle-down:before {
  content: "\e9e7";
}
.fb-icon-angle-left:before {
  content: "\e997";
}
.fb-icon-angle-right:before {
  content: "\e998";
}
.fb-icon-angle-up:before {
  content: "\e999";
}
.fb-icon-arrow-down-to-bracket:before {
  content: "\e99a";
}
.fb-icon-arrow-down:before {
  content: "\e99b";
}
.fb-icon-caret-left:before {
  content: "\e9a9";
}
.fb-icon-caret-right:before {
  content: "\e9aa";
}
.fb-icon-caret-sort:before {
  content: "\e9ab";
}
.fb-icon-caret-up:before {
  content: "\e9ac";
}
.fb-icon-chevron-double-down:before {
  content: "\e9ad";
}
.fb-icon-chevron-double-left:before {
  content: "\e9ae";
}
.fb-icon-reply-all:before {
  content: "\e9bc";
}
.fb-icon-reply:before {
  content: "\e9bd";
}
.fb-icon-share-all:before {
  content: "\e9be";
}
.fb-icon-sort-horizontal:before {
  content: "\e9bf";
}
.fb-icon-sort:before {
  content: "\e9c0";
}
.fb-icon-undo:before {
  content: "\e9c1";
}
.fb-icon-badge-check:before {
  content: "\e909";
}
.fb-icon-ban .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.fb-icon-ban .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-bars-from-left:before {
  content: "\e90c";
}
.fb-icon-bars:before {
  content: "\e90d";
}
.fb-icon-bell-active-alt:before {
  content: "\e90e";
}
.fb-icon-bell-active:before {
  content: "\e90f";
}
.fb-icon-bell-ring:before {
  content: "\e910";
}
.fb-icon-bell:before {
  content: "\e911";
}
.fb-icon-blender-phone:before {
  content: "\e912";
}
.fb-icon-book-open:before {
  content: "\e913";
}
.fb-icon-book:before {
  content: "\e914";
}
.fb-icon-bookmark:before {
  content: "\e915";
}
.fb-icon-brain:before {
  content: "\e916";
}
.fb-icon-briefcase:before {
  content: "\e917";
}
.fb-icon-bug:before {
  content: "\e918";
}
.fb-icon-building:before {
  content: "\e919";
}
.fb-icon-bullhorn:before {
  content: "\e91a";
}
.fb-icon-calendar-edit:before {
  content: "\e91b";
}
.fb-icon-calendar-month:before {
  content: "\e91c";
}
.fb-icon-calendar-week:before {
  content: "\e91d";
}
.fb-icon-chart-line-down:before {
  content: "\e91e";
}
.fb-icon-chart-line-up:before {
  content: "\e91f";
}
.fb-icon-chart-mixed-dollar:before {
  content: "\e920";
}
.fb-icon-chart-mixed:before {
  content: "\e921";
}
.fb-icon-chart-pie:before {
  content: "\e922";
}
.fb-icon-chart:before {
  content: "\e923";
}
.fb-icon-check-circle:before {
  content: "\e924";
}
.fb-icon-check-plus-circle:before {
  content: "\e925";
}
.fb-icon-check:before {
  content: "\e926";
}
.fb-icon-circle-minus .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.fb-icon-circle-minus .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-circle-plus:before {
  content: "\e929";
}
.fb-icon-clock:before {
  content: "\e92a";
}
.fb-icon-close-circle:before {
  content: "\e92b";
}
.fb-icon-close:before {
  content: "\e92c";
}
.fb-icon-cloud-arrow-up:before {
  content: "\e92d";
}
.fb-icon-code-branch:before {
  content: "\e92e";
}
.fb-icon-code-fork:before {
  content: "\e92f";
}
.fb-icon-code-merge:before {
  content: "\e930";
}
.fb-icon-code-pull-request:before {
  content: "\e931";
}
.fb-icon-code:before {
  content: "\e932";
}
.fb-icon-cog:before {
  content: "\e933";
}
.fb-icon-column:before {
  content: "\e934";
}
.fb-icon-command:before {
  content: "\e935";
}
.fb-icon-database:before {
  content: "\e936";
}
.fb-icon-desktop-pc:before {
  content: "\e937";
}
.fb-icon-dna:before {
  content: "\e938";
}
.fb-icon-dots-horizontal:before {
  content: "\e939";
}
.fb-icon-dots-vertical:before {
  content: "\e93a";
}
.fb-icon-download:before {
  content: "\e93b";
}
.fb-icon-draw-square:before {
  content: "\e93c";
}
.fb-icon-edit:before {
  content: "\e93d";
}
.fb-icon-envelope-open:before {
  content: "\e93e";
}
.fb-icon-envelope:before {
  content: "\e93f";
}
.fb-icon-exclamation-circle:before {
  content: "\e940";
}
.fb-icon-eye-slash:before {
  content: "\e941";
}
.fb-icon-eye:before {
  content: "\e942";
}
.fb-icon-filter:before {
  content: "\e943";
}
.fb-icon-fingerprint:before {
  content: "\e944";
}
.fb-icon-fire:before {
  content: "\e945";
}
.fb-icon-flag:before {
  content: "\e946";
}
.fb-icon-floppy-disk-alt .path1:before {
  content: "\e947";
  color: rgb(255, 255, 255);
}
.fb-icon-floppy-disk-alt .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-floppy-disk-alt .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fb-icon-floppy-disk-alt .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-floppy-disk .path1:before {
  content: "\e94b";
  color: rgb(255, 255, 255);
}
.fb-icon-floppy-disk .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-floppy-disk .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-gift-box:before {
  content: "\e94e";
}
.fb-icon-globe:before {
  content: "\e94f";
}
.fb-icon-grid-plus:before {
  content: "\e950";
}
.fb-icon-grid:before {
  content: "\e951";
}
.fb-icon-heart:before {
  content: "\e952";
}
.fb-icon-home:before {
  content: "\e953";
}
.fb-icon-hourglass:before {
  content: "\e954";
}
.fb-icon-image:before {
  content: "\e955";
}
.fb-icon-inbox-full:before {
  content: "\e956";
}
.fb-icon-inbox:before {
  content: "\e957";
}
.fb-icon-info-circle:before {
  content: "\e958";
}
.fb-icon-keyboard:before {
  content: "\e959";
}
.fb-icon-label:before {
  content: "\e95a";
}
.fb-icon-landmark:before {
  content: "\e95b";
}
.fb-icon-layers:before {
  content: "\e95c";
}
.fb-icon-life-saver:before {
  content: "\e95d";
}
.fb-icon-lightbulb:before {
  content: "\e95e";
}
.fb-icon-link:before {
  content: "\e95f";
}
.fb-icon-lock-open:before {
  content: "\e960";
}
.fb-icon-lock-time:before {
  content: "\e961";
}
.fb-icon-lock:before {
  content: "\e962";
}
.fb-icon-mail-box:before {
  content: "\e963";
}
.fb-icon-map-pin-alt:before {
  content: "\e964";
}
.fb-icon-map-pin:before {
  content: "\e965";
}
.fb-icon-message-caption:before {
  content: "\e966";
}
.fb-icon-message-dots:before {
  content: "\e967";
}
.fb-icon-messages:before {
  content: "\e968";
}
.fb-icon-minus:before {
  content: "\e969";
}
.fb-icon-mobile-phone:before {
  content: "\e96a";
}
.fb-icon-newspaper:before {
  content: "\e96b";
}
.fb-icon-objects-column .path1:before {
  content: "\e96c";
  color: rgb(255, 255, 255);
}
.fb-icon-objects-column .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-palette:before {
  content: "\e96e";
}
.fb-icon-paper-clip:before {
  content: "\e96f";
}
.fb-icon-paper-plane:before {
  content: "\e970";
}
.fb-icon-pen-nib:before {
  content: "\e971";
}
.fb-icon-pen:before {
  content: "\e972";
}
.fb-icon-phone-hangup:before {
  content: "\e973";
}
.fb-icon-phone:before {
  content: "\e974";
}
.fb-icon-plus:before {
  content: "\e975";
}
.fb-icon-printer:before {
  content: "\e976";
}
.fb-icon-qr-code .path1:before {
  content: "\e977";
  color: rgb(255, 255, 255);
}
.fb-icon-qr-code .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-qr-code .path3:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-question-circle:before {
  content: "\e97a";
}
.fb-icon-restore-window:before {
  content: "\e97b";
}
.fb-icon-rocket:before {
  content: "\e97c";
}
.fb-icon-ruler-combined:before {
  content: "\e97d";
}
.fb-icon-search:before {
  content: "\e97e";
}
.fb-icon-server .path1:before {
  content: "\e97f";
  color: rgb(255, 255, 255);
}
.fb-icon-server .path2:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-share-nodes:before {
  content: "\e981";
}
.fb-icon-shield-check:before {
  content: "\e982";
}
.fb-icon-shield:before {
  content: "\e983";
}
.fb-icon-star-half-stroke:before {
  content: "\e984";
}
.fb-icon-star-half:before {
  content: "\e985";
}
.fb-icon-star:before {
  content: "\e986";
}
.fb-icon-swatchbook:before {
  content: "\e987";
}
.fb-icon-table-column:before {
  content: "\e988";
}
.fb-icon-table-row:before {
  content: "\e989";
}
.fb-icon-tablet:before {
  content: "\e98a";
}
.fb-icon-terminal:before {
  content: "\e98b";
}
.fb-icon-ticket:before {
  content: "\e98c";
}
.fb-icon-trash-bin:before {
  content: "\e98d";
}
.fb-icon-truck:before {
  content: "\e98e";
}
.fb-icon-upload:before {
  content: "\e98f";
}
.fb-icon-volume-down:before {
  content: "\e990";
}
.fb-icon-volume-up:before {
  content: "\e991";
}
.fb-icon-wand-magic-sparkles:before {
  content: "\e992";
}
.fb-icon-window:before {
  content: "\e993";
}
.fb-icon-zoom-in:before {
  content: "\e994";
}
.fb-icon-zoom-out:before {
  content: "\e995";
}
.fb-icon-calendar-plus:before {
  content: "\e908";
}
.fb-icon-annotation:before {
  content: "\e901";
}
.fb-icon-archive:before {
  content: "\e902";
}
.fb-icon-arrow-up-right-from-square:before {
  content: "\e903";
}
.fb-icon-atom:before {
  content: "\e904";
}
.fb-icon-award .path1:before {
  content: "\e905";
  color: rgb(255, 255, 255);
}
.fb-icon-award .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fb-icon-adjustments-vertical:before {
  content: "\e907";
}
.fb-icon-adjustments-horizontal:before {
  content: "\e900";
}
