$icomoon-font-family: "flowbite-icons" !default;
$icomoon-font-path: "fonts" !default;

$fb-icon-adjustments-horizontal-filled: unquote('"\\ea92"');
$fb-icon-adjustments-vertical-filled: unquote('"\\ea93"');
$fb-icon-annotation-filled: unquote('"\\ea94"');
$fb-icon-archive-filled: unquote('"\\ea95"');
$fb-icon-arrow-up-right-from-square-filled: unquote('"\\ea96"');
$fb-icon-award-filled: unquote('"\\ea97"');
$fb-icon-badge-check-filled: unquote('"\\ea98"');
$fb-icon-bell-active-alt-filled: unquote('"\\ea99"');
$fb-icon-bell-active-filled: unquote('"\\ea9a"');
$fb-icon-bell-ring-filled: unquote('"\\ea9b"');
$fb-icon-bell-filled: unquote('"\\ea9c"');
$fb-icon-blender-phone-filled: unquote('"\\ea9d"');
$fb-icon-book-open-filled: unquote('"\\ea9e"');
$fb-icon-book-filled: unquote('"\\ea9f"');
$fb-icon-bookmark-filled: unquote('"\\eaa0"');
$fb-icon-brain-filled: unquote('"\\eaa1"');
$fb-icon-briefcase-filled: unquote('"\\eaa2"');
$fb-icon-bug-filled: unquote('"\\eaa3"');
$fb-icon-building-filled: unquote('"\\eaa4"');
$fb-icon-bullhorn-filled: unquote('"\\eaa5"');
$fb-icon-calendar-edit-filled: unquote('"\\eaa6"');
$fb-icon-calendar-month-filled: unquote('"\\eaa7"');
$fb-icon-calendar-plus-filled: unquote('"\\eaa8"');
$fb-icon-calendar-week-filled: unquote('"\\eaa9"');
$fb-icon-chart-mixed-dollar-filled: unquote('"\\eaaa"');
$fb-icon-chart-pie-filled: unquote('"\\eaab"');
$fb-icon-check-circle-filled: unquote('"\\eaac"');
$fb-icon-check-plus-circle-filled: unquote('"\\eaad"');
$fb-icon-circle-minus-filled: unquote('"\\eaae"');
$fb-icon-circle-plus-filled: unquote('"\\eaaf"');
$fb-icon-clock-filled: unquote('"\\eab0"');
$fb-icon-close-circle-filled: unquote('"\\eab1"');
$fb-icon-cloud-arrow-up-filled: unquote('"\\eab2"');
$fb-icon-code-branch-filled: unquote('"\\eab3"');
$fb-icon-code-fork-filled: unquote('"\\eab4"');
$fb-icon-code-merge-filled: unquote('"\\eab5"');
$fb-icon-code-pull-request-filled: unquote('"\\eab6"');
$fb-icon-cog-filled: unquote('"\\eab7"');
$fb-icon-column-filled: unquote('"\\eab8"');
$fb-icon-database-filled: unquote('"\\eab9"');
$fb-icon-desktop-pc-filled: unquote('"\\eaba"');
$fb-icon-download-filled: unquote('"\\eabb"');
$fb-icon-draw-square-filled: unquote('"\\eabc"');
$fb-icon-edit-filled: unquote('"\\eabd"');
$fb-icon-envelope-open-filled: unquote('"\\eabe"');
$fb-icon-envelope-filled: unquote('"\\eabf"');
$fb-icon-exclamation-circle-filled: unquote('"\\eac0"');
$fb-icon-eye-slash-filled: unquote('"\\eac1"');
$fb-icon-eye-filled: unquote('"\\eac2"');
$fb-icon-filter-filled: unquote('"\\eac3"');
$fb-icon-fire-filled: unquote('"\\eac4"');
$fb-icon-flag-filled: unquote('"\\eac5"');
$fb-icon-floppy-disk-alt-filled: unquote('"\\eac6"');
$fb-icon-floppy-disk-filled: unquote('"\\eac7"');
$fb-icon-gift-box-filled: unquote('"\\eac8"');
$fb-icon-globe-filled: unquote('"\\eac9"');
$fb-icon-grid-plus-filled: unquote('"\\eaca"');
$fb-icon-grid-filled: unquote('"\\eacb"');
$fb-icon-heart-filled: unquote('"\\eacc"');
$fb-icon-home-filled: unquote('"\\eacd"');
$fb-icon-hourglass-filled: unquote('"\\eace"');
$fb-icon-image-filled: unquote('"\\eacf"');
$fb-icon-inbox-full-filled: unquote('"\\ead0"');
$fb-icon-inbox-filled: unquote('"\\ead1"');
$fb-icon-info-circle-filled: unquote('"\\ead2"');
$fb-icon-keyboard-filled: unquote('"\\ead3"');
$fb-icon-label-filled: unquote('"\\ead4"');
$fb-icon-landmark-filled: unquote('"\\ead5"');
$fb-icon-layers-filled: unquote('"\\ead6"');
$fb-icon-life-saver-filled: unquote('"\\ead7"');
$fb-icon-lightbulb-filled: unquote('"\\ead8"');
$fb-icon-lock-open-filled: unquote('"\\ead9"');
$fb-icon-lock-time-filled: unquote('"\\eada"');
$fb-icon-lock-filled: unquote('"\\eadb"');
$fb-icon-mail-box-filled: unquote('"\\eadc"');
$fb-icon-map-pin-alt-filled: unquote('"\\eadd"');
$fb-icon-map-pin-filled: unquote('"\\eade"');
$fb-icon-message-caption-filled: unquote('"\\eadf"');
$fb-icon-message-dots-filled: unquote('"\\eae0"');
$fb-icon-messages-filled: unquote('"\\eae1"');
$fb-icon-mobile-phone-filled: unquote('"\\eae2"');
$fb-icon-newspaper-filled: unquote('"\\eae3"');
$fb-icon-objects-column-filled: unquote('"\\eae4"');
$fb-icon-palette-filled: unquote('"\\eae5"');
$fb-icon-paper-plane-filled: unquote('"\\eae6"');
$fb-icon-pen-nib-filled: unquote('"\\eae7"');
$fb-icon-pen-filled: unquote('"\\eae8"');
$fb-icon-phone-hangup-filled: unquote('"\\eae9"');
$fb-icon-phone-filled: unquote('"\\eaea"');
$fb-icon-printer-filled: unquote('"\\eaeb"');
$fb-icon-question-circle-filled: unquote('"\\eaec"');
$fb-icon-rocket-filled: unquote('"\\eaed"');
$fb-icon-search-filled: unquote('"\\eaee"');
$fb-icon-server-filled: unquote('"\\eaef"');
$fb-icon-share-nodes-filled: unquote('"\\eaf0"');
$fb-icon-shield-check-filled: unquote('"\\eaf1"');
$fb-icon-shield-filled: unquote('"\\eaf2"');
$fb-icon-star-half-stroke-filled: unquote('"\\eaf3"');
$fb-icon-star-half-filled: unquote('"\\eaf4"');
$fb-icon-star-filled: unquote('"\\eaf5"');
$fb-icon-swatchbook-filled: unquote('"\\eaf6"');
$fb-icon-table-column-filled: unquote('"\\eaf7"');
$fb-icon-table-row-filled: unquote('"\\eaf8"');
$fb-icon-tablet-filled: unquote('"\\eaf9"');
$fb-icon-terminal-filled: unquote('"\\eafa"');
$fb-icon-ticket-filled: unquote('"\\eafb"');
$fb-icon-trash-bin-filled: unquote('"\\eafc"');
$fb-icon-truck-filled: unquote('"\\eafd"');
$fb-icon-upload-filled: unquote('"\\eafe"');
$fb-icon-volume-down-filled: unquote('"\\eaff"');
$fb-icon-volume-up-filled: unquote('"\\eb00"');
$fb-icon-wand-magic-sparkles-filled: unquote('"\\eb01"');
$fb-icon-window-restore: unquote('"\\eb02"');
$fb-icon-window-filled: unquote('"\\eb03"');
$fb-icon-zoom-in-filled: unquote('"\\eb04"');
$fb-icon-zoom-out-filled: unquote('"\\eb05"');
$fb-icon-arrow-right-alt-filled: unquote('"\\ea88"');
$fb-icon-caret-down-filled: unquote('"\\ea89"');
$fb-icon-caret-left-filled: unquote('"\\ea8a"');
$fb-icon-caret-right-filled: unquote('"\\ea8b"');
$fb-icon-caret-sort-filled: unquote('"\\ea8c"');
$fb-icon-caret-up-filled: unquote('"\\ea8d"');
$fb-icon-forward-filled: unquote('"\\ea8e"');
$fb-icon-reply-all-filled: unquote('"\\ea8f"');
$fb-icon-reply-filled: unquote('"\\ea90"');
$fb-icon-share-all-filled: unquote('"\\ea91"');
$fb-icon-file-circle-plus-filled: unquote('"\\ea57"');
$fb-icon-archive-arrow-down-filled: unquote('"\\ea58"');
$fb-icon-clipboard-check-filled: unquote('"\\ea59"');
$fb-icon-clipboard-clean-filled: unquote('"\\ea5a"');
$fb-icon-clipboard-list-filled: unquote('"\\ea5b"');
$fb-icon-clipboard-filled: unquote('"\\ea5c"');
$fb-icon-file-chart-bar-filled: unquote('"\\ea5d"');
$fb-icon-file-check-filled: unquote('"\\ea5e"');
$fb-icon-file-clone-filled: unquote('"\\ea5f"');
$fb-icon-file-code-filled: unquote('"\\ea60"');
$fb-icon-file-copy-alt-filled: unquote('"\\ea61"');
$fb-icon-file-copy-filled: unquote('"\\ea62"');
$fb-icon-file-csv-filled: unquote('"\\ea63"');
$fb-icon-file-doc-filled: unquote('"\\ea64"');
$fb-icon-file-export-filled: unquote('"\\ea65"');
$fb-icon-file-image-filled: unquote('"\\ea66"');
$fb-icon-file-import-filled: unquote('"\\ea67"');
$fb-icon-file-invoice-filled: unquote('"\\ea68"');
$fb-icon-file-lines-filled: unquote('"\\ea69"');
$fb-icon-file-music-filled: unquote('"\\ea6a"');
$fb-icon-file-paste-filled: unquote('"\\ea6b"');
$fb-icon-file-pdf-filled: unquote('"\\ea6c"');
$fb-icon-file-pen-filled: unquote('"\\ea6d"');
$fb-icon-file-ppt-filled: unquote('"\\ea6e"');
$fb-icon-file-search-filled: unquote('"\\ea6f"');
$fb-icon-file-shield-filled: unquote('"\\ea70"');
$fb-icon-file-video-filled: unquote('"\\ea71"');
$fb-icon-file-word-filled: unquote('"\\ea72"');
$fb-icon-file-zip-filled: unquote('"\\ea73"');
$fb-icon-file-filled: unquote('"\\ea74"');
$fb-icon-folder-arrow-right-filled: unquote('"\\ea75"');
$fb-icon-folder-duplicate-filled: unquote('"\\ea76"');
$fb-icon-folder-open-filled: unquote('"\\ea77"');
$fb-icon-folder-plus-filled: unquote('"\\ea78"');
$fb-icon-folder-filled: unquote('"\\ea79"');
$fb-icon-cart-filled: unquote('"\\ea7a"');
$fb-icon-cart-plus-alt-filled: unquote('"\\ea7b"');
$fb-icon-cart-plus-filled: unquote('"\\ea7c"');
$fb-icon-cash-filled: unquote('"\\ea7d"');
$fb-icon-credit-card-plus-filled: unquote('"\\ea7e"');
$fb-icon-credit-card-filled: unquote('"\\ea7f"');
$fb-icon-receipt-filled: unquote('"\\ea80"');
$fb-icon-sale-percent-filled: unquote('"\\ea81"');
$fb-icon-scale-balanced-filled: unquote('"\\ea82"');
$fb-icon-shopping-bag-filled: unquote('"\\ea83"');
$fb-icon-store-filled: unquote('"\\ea84"');
$fb-icon-tag-filled: unquote('"\\ea85"');
$fb-icon-user-headset-filled: unquote('"\\ea86"');
$fb-icon-wallet-filled: unquote('"\\ea87"');
$fb-icon-list-music-filled: unquote('"\\ea46"');
$fb-icon-backward-step-filled: unquote('"\\ea47"');
$fb-icon-camera-photo-filled: unquote('"\\ea48"');
$fb-icon-caption-filled: unquote('"\\ea49"');
$fb-icon-circle-pause-filled: unquote('"\\ea4a"');
$fb-icon-clapperboard-play-filled: unquote('"\\ea4b"');
$fb-icon-computer-speaker-filled: unquote('"\\ea4c"');
$fb-icon-forward-step-filled: unquote('"\\ea4d"');
$fb-icon-headphones-filled: unquote('"\\ea4e"');
$fb-icon-microphone-slash-filled: unquote('"\\ea4f"');
$fb-icon-microphone-filled: unquote('"\\ea50"');
$fb-icon-pause-filled: unquote('"\\ea51"');
$fb-icon-play-filled: unquote('"\\ea52"');
$fb-icon-rectangle-list-filled: unquote('"\\ea53"');
$fb-icon-stop-filled: unquote('"\\ea54"');
$fb-icon-video-camera-filled: unquote('"\\ea55"');
$fb-icon-volume-mute-filled: unquote('"\\ea56"');
$fb-icon-face-explode-filled: unquote('"\\ea40"');
$fb-icon-face-grin-stars-filled: unquote('"\\ea41"');
$fb-icon-face-grin-filled: unquote('"\\ea42"');
$fb-icon-face-laugh-filled: unquote('"\\ea43"');
$fb-icon-thumbs-down-filled: unquote('"\\ea44"');
$fb-icon-thumbs-up-filled: unquote('"\\ea45"');
$fb-icon-indent-filled: unquote('"\\ea3c"');
$fb-icon-outdent-filled: unquote('"\\ea3d"');
$fb-icon-paragraph-filled: unquote('"\\ea3e"');
$fb-icon-quote-filled: unquote('"\\ea3f"');
$fb-icon-moon-filled: unquote('"\\ea3a"');
$fb-icon-sun-filled: unquote('"\\ea3b"');
$fb-icon-users-group-filled: unquote('"\\ea30"');
$fb-icon-address-book-filled: unquote('"\\ea31"');
$fb-icon-profile-card-filled: unquote('"\\ea32"');
$fb-icon-user-add-filled: unquote('"\\ea33"');
$fb-icon-user-circle-filled: unquote('"\\ea34"');
$fb-icon-user-edit-filled: unquote('"\\ea35"');
$fb-icon-user-remove-filled: unquote('"\\ea36"');
$fb-icon-user-settings-filled: unquote('"\\ea37"');
$fb-icon-user-filled: unquote('"\\ea38"');
$fb-icon-users-filled: unquote('"\\ea39"');
$fb-icon-address-book: unquote('"\\ea26"');
$fb-icon-profile-card: unquote('"\\ea27"');
$fb-icon-user-add: unquote('"\\ea28"');
$fb-icon-user-circle: unquote('"\\ea29"');
$fb-icon-user-edit: unquote('"\\ea2a"');
$fb-icon-user-remove: unquote('"\\ea2b"');
$fb-icon-user-settings: unquote('"\\ea2c"');
$fb-icon-user: unquote('"\\ea2d"');
$fb-icon-users-group: unquote('"\\ea2e"');
$fb-icon-users: unquote('"\\ea2f"');
$fb-icon-moon: unquote('"\\ea24"');
$fb-icon-sun: unquote('"\\ea25"');
$fb-icon-quote: unquote('"\\ea16"');
$fb-icon-align-center: unquote('"\\ea17"');
$fb-icon-indent: unquote('"\\ea18"');
$fb-icon-language-path1: unquote('"\\ea19"');
$fb-icon-language-path2: unquote('"\\ea1a"');
$fb-icon-letter-bold: unquote('"\\ea1b"');
$fb-icon-letter-italic: unquote('"\\ea1c"');
$fb-icon-letter-underline: unquote('"\\ea1d"');
$fb-icon-list: unquote('"\\ea1e"');
$fb-icon-ordered-list: unquote('"\\ea1f"');
$fb-icon-outdent: unquote('"\\ea20"');
$fb-icon-paragraph: unquote('"\\ea21"');
$fb-icon-text-size: unquote('"\\ea22"');
$fb-icon-text-slash: unquote('"\\ea23"');
$fb-icon-thumbs-down: unquote('"\\ea0c"');
$fb-icon-face-explode-path1: unquote('"\\ea0d"');
$fb-icon-face-explode-path2: unquote('"\\ea0e"');
$fb-icon-face-grin-stars-path1: unquote('"\\ea0f"');
$fb-icon-face-grin-stars-path2: unquote('"\\ea10"');
$fb-icon-face-grin-stars-path3: unquote('"\\ea11"');
$fb-icon-face-grin-stars-path4: unquote('"\\ea12"');
$fb-icon-face-grin: unquote('"\\ea13"');
$fb-icon-face-laugh: unquote('"\\ea14"');
$fb-icon-thumbs-up: unquote('"\\ea15"');
$fb-icon-list-music: unquote('"\\e9f9"');
$fb-icon-backward-step: unquote('"\\e9fa"');
$fb-icon-camera-photo: unquote('"\\e9fb"');
$fb-icon-caption: unquote('"\\e9fc"');
$fb-icon-circle-pause: unquote('"\\e9fd"');
$fb-icon-clapperboard-play: unquote('"\\e9fe"');
$fb-icon-computer-speaker: unquote('"\\e9ff"');
$fb-icon-forward-step: unquote('"\\ea00"');
$fb-icon-headphones: unquote('"\\ea01"');
$fb-icon-microphone-slash: unquote('"\\ea02"');
$fb-icon-microphone: unquote('"\\ea03"');
$fb-icon-pause: unquote('"\\ea04"');
$fb-icon-play: unquote('"\\ea05"');
$fb-icon-rectangle-list: unquote('"\\ea06"');
$fb-icon-shuffle: unquote('"\\ea07"');
$fb-icon-stop: unquote('"\\ea08"');
$fb-icon-video-camera: unquote('"\\ea09"');
$fb-icon-volume-mute-path1: unquote('"\\ea0a"');
$fb-icon-volume-mute-path2: unquote('"\\ea0b"');
$fb-icon-dollar: unquote('"\\e9e8"');
$fb-icon-cart-plus-alt: unquote('"\\e9e9"');
$fb-icon-cart-plus: unquote('"\\e9ea"');
$fb-icon-cart: unquote('"\\e9eb"');
$fb-icon-cash: unquote('"\\e9ec"');
$fb-icon-credit-card-plus-path1: unquote('"\\e9ed"');
$fb-icon-credit-card-plus-path2: unquote('"\\e9ee"');
$fb-icon-credit-card: unquote('"\\e9ef"');
$fb-icon-euro: unquote('"\\e9f0"');
$fb-icon-receipt: unquote('"\\e9f1"');
$fb-icon-sale-percent: unquote('"\\e9f2"');
$fb-icon-scale-balanced: unquote('"\\e9f3"');
$fb-icon-shopping-bag: unquote('"\\e9f4"');
$fb-icon-store: unquote('"\\e9f5"');
$fb-icon-tag: unquote('"\\e9f6"');
$fb-icon-user-headset: unquote('"\\e9f7"');
$fb-icon-wallet: unquote('"\\e9f8"');
$fb-icon-clipboard-clean-path1: unquote('"\\e996"');
$fb-icon-clipboard-clean-path2: unquote('"\\e9c2"');
$fb-icon-archive-arrow-down: unquote('"\\e9c3"');
$fb-icon-clipboard-check: unquote('"\\e9c4"');
$fb-icon-clipboard-list: unquote('"\\e9c5"');
$fb-icon-clipboard: unquote('"\\e9c6"');
$fb-icon-file-chart-bar: unquote('"\\e9c7"');
$fb-icon-file-check: unquote('"\\e9c8"');
$fb-icon-file-circle-plus: unquote('"\\e9c9"');
$fb-icon-file-clone: unquote('"\\e9ca"');
$fb-icon-file-code: unquote('"\\e9cb"');
$fb-icon-file-copy-alt: unquote('"\\e9cc"');
$fb-icon-file-copy: unquote('"\\e9cd"');
$fb-icon-file-csv: unquote('"\\e9ce"');
$fb-icon-file-doc-path1: unquote('"\\e9cf"');
$fb-icon-file-doc-path2: unquote('"\\e9d0"');
$fb-icon-file-export: unquote('"\\e9d1"');
$fb-icon-file-image-path1: unquote('"\\e9d2"');
$fb-icon-file-image-path2: unquote('"\\e9d3"');
$fb-icon-file-import: unquote('"\\e9d4"');
$fb-icon-file-invoice: unquote('"\\e9d5"');
$fb-icon-file-lines: unquote('"\\e9d6"');
$fb-icon-file-music: unquote('"\\e9d7"');
$fb-icon-file-paste: unquote('"\\e9d8"');
$fb-icon-file-pdf: unquote('"\\e9d9"');
$fb-icon-file-pen: unquote('"\\e9da"');
$fb-icon-file-ppt: unquote('"\\e9db"');
$fb-icon-file-search: unquote('"\\e9dc"');
$fb-icon-file-shield: unquote('"\\e9dd"');
$fb-icon-file-video: unquote('"\\e9de"');
$fb-icon-file-word: unquote('"\\e9df"');
$fb-icon-file-zip: unquote('"\\e9e0"');
$fb-icon-file: unquote('"\\e9e1"');
$fb-icon-folder-arrow-right: unquote('"\\e9e2"');
$fb-icon-folder-duplicate: unquote('"\\e9e3"');
$fb-icon-folder-open: unquote('"\\e9e4"');
$fb-icon-folder-plus: unquote('"\\e9e5"');
$fb-icon-folder: unquote('"\\e9e6"');
$fb-icon-arrow-up-from-bracket: unquote('"\\e9a3"');
$fb-icon-arrow-up-right-down-left: unquote('"\\e9a4"');
$fb-icon-arrow-up: unquote('"\\e9a5"');
$fb-icon-arrows-repeat-count: unquote('"\\e9a6"');
$fb-icon-arrows-repeat: unquote('"\\e9a7"');
$fb-icon-caret-down: unquote('"\\e9a8"');
$fb-icon-chevron-double-right: unquote('"\\e9af"');
$fb-icon-chevron-double-up: unquote('"\\e9b0"');
$fb-icon-chevron-down: unquote('"\\e9b1"');
$fb-icon-chevron-left: unquote('"\\e9b2"');
$fb-icon-chevron-right: unquote('"\\e9b3"');
$fb-icon-arrow-left-to-bracket: unquote('"\\e99c"');
$fb-icon-arrow-left: unquote('"\\e99d"');
$fb-icon-arrow-right-alt: unquote('"\\e99e"');
$fb-icon-arrow-right-to-bracket: unquote('"\\e99f"');
$fb-icon-arrow-right: unquote('"\\e9a0"');
$fb-icon-arrow-sort-letters: unquote('"\\e9a1"');
$fb-icon-arrow-up-down: unquote('"\\e9a2"');
$fb-icon-chevron-sort: unquote('"\\e9b4"');
$fb-icon-chevron-up: unquote('"\\e9b5"');
$fb-icon-compress: unquote('"\\e9b6"');
$fb-icon-expand: unquote('"\\e9b7"');
$fb-icon-forward: unquote('"\\e9b8"');
$fb-icon-minimize: unquote('"\\e9b9"');
$fb-icon-redo: unquote('"\\e9ba"');
$fb-icon-refresh: unquote('"\\e9bb"');
$fb-icon-angle-down: unquote('"\\e9e7"');
$fb-icon-angle-left: unquote('"\\e997"');
$fb-icon-angle-right: unquote('"\\e998"');
$fb-icon-angle-up: unquote('"\\e999"');
$fb-icon-arrow-down-to-bracket: unquote('"\\e99a"');
$fb-icon-arrow-down: unquote('"\\e99b"');
$fb-icon-caret-left: unquote('"\\e9a9"');
$fb-icon-caret-right: unquote('"\\e9aa"');
$fb-icon-caret-sort: unquote('"\\e9ab"');
$fb-icon-caret-up: unquote('"\\e9ac"');
$fb-icon-chevron-double-down: unquote('"\\e9ad"');
$fb-icon-chevron-double-left: unquote('"\\e9ae"');
$fb-icon-reply-all: unquote('"\\e9bc"');
$fb-icon-reply: unquote('"\\e9bd"');
$fb-icon-share-all: unquote('"\\e9be"');
$fb-icon-sort-horizontal: unquote('"\\e9bf"');
$fb-icon-sort: unquote('"\\e9c0"');
$fb-icon-undo: unquote('"\\e9c1"');
$fb-icon-badge-check: unquote('"\\e909"');
$fb-icon-ban-path1: unquote('"\\e90a"');
$fb-icon-ban-path2: unquote('"\\e90b"');
$fb-icon-bars-from-left: unquote('"\\e90c"');
$fb-icon-bars: unquote('"\\e90d"');
$fb-icon-bell-active-alt: unquote('"\\e90e"');
$fb-icon-bell-active: unquote('"\\e90f"');
$fb-icon-bell-ring: unquote('"\\e910"');
$fb-icon-bell: unquote('"\\e911"');
$fb-icon-blender-phone: unquote('"\\e912"');
$fb-icon-book-open: unquote('"\\e913"');
$fb-icon-book: unquote('"\\e914"');
$fb-icon-bookmark: unquote('"\\e915"');
$fb-icon-brain: unquote('"\\e916"');
$fb-icon-briefcase: unquote('"\\e917"');
$fb-icon-bug: unquote('"\\e918"');
$fb-icon-building: unquote('"\\e919"');
$fb-icon-bullhorn: unquote('"\\e91a"');
$fb-icon-calendar-edit: unquote('"\\e91b"');
$fb-icon-calendar-month: unquote('"\\e91c"');
$fb-icon-calendar-week: unquote('"\\e91d"');
$fb-icon-chart-line-down: unquote('"\\e91e"');
$fb-icon-chart-line-up: unquote('"\\e91f"');
$fb-icon-chart-mixed-dollar: unquote('"\\e920"');
$fb-icon-chart-mixed: unquote('"\\e921"');
$fb-icon-chart-pie: unquote('"\\e922"');
$fb-icon-chart: unquote('"\\e923"');
$fb-icon-check-circle: unquote('"\\e924"');
$fb-icon-check-plus-circle: unquote('"\\e925"');
$fb-icon-check: unquote('"\\e926"');
$fb-icon-circle-minus-path1: unquote('"\\e927"');
$fb-icon-circle-minus-path2: unquote('"\\e928"');
$fb-icon-circle-plus: unquote('"\\e929"');
$fb-icon-clock: unquote('"\\e92a"');
$fb-icon-close-circle: unquote('"\\e92b"');
$fb-icon-close: unquote('"\\e92c"');
$fb-icon-cloud-arrow-up: unquote('"\\e92d"');
$fb-icon-code-branch: unquote('"\\e92e"');
$fb-icon-code-fork: unquote('"\\e92f"');
$fb-icon-code-merge: unquote('"\\e930"');
$fb-icon-code-pull-request: unquote('"\\e931"');
$fb-icon-code: unquote('"\\e932"');
$fb-icon-cog: unquote('"\\e933"');
$fb-icon-column: unquote('"\\e934"');
$fb-icon-command: unquote('"\\e935"');
$fb-icon-database: unquote('"\\e936"');
$fb-icon-desktop-pc: unquote('"\\e937"');
$fb-icon-dna: unquote('"\\e938"');
$fb-icon-dots-horizontal: unquote('"\\e939"');
$fb-icon-dots-vertical: unquote('"\\e93a"');
$fb-icon-download: unquote('"\\e93b"');
$fb-icon-draw-square: unquote('"\\e93c"');
$fb-icon-edit: unquote('"\\e93d"');
$fb-icon-envelope-open: unquote('"\\e93e"');
$fb-icon-envelope: unquote('"\\e93f"');
$fb-icon-exclamation-circle: unquote('"\\e940"');
$fb-icon-eye-slash: unquote('"\\e941"');
$fb-icon-eye: unquote('"\\e942"');
$fb-icon-filter: unquote('"\\e943"');
$fb-icon-fingerprint: unquote('"\\e944"');
$fb-icon-fire: unquote('"\\e945"');
$fb-icon-flag: unquote('"\\e946"');
$fb-icon-floppy-disk-alt-path1: unquote('"\\e947"');
$fb-icon-floppy-disk-alt-path2: unquote('"\\e948"');
$fb-icon-floppy-disk-alt-path3: unquote('"\\e949"');
$fb-icon-floppy-disk-alt-path4: unquote('"\\e94a"');
$fb-icon-floppy-disk-path1: unquote('"\\e94b"');
$fb-icon-floppy-disk-path2: unquote('"\\e94c"');
$fb-icon-floppy-disk-path3: unquote('"\\e94d"');
$fb-icon-gift-box: unquote('"\\e94e"');
$fb-icon-globe: unquote('"\\e94f"');
$fb-icon-grid-plus: unquote('"\\e950"');
$fb-icon-grid: unquote('"\\e951"');
$fb-icon-heart: unquote('"\\e952"');
$fb-icon-home: unquote('"\\e953"');
$fb-icon-hourglass: unquote('"\\e954"');
$fb-icon-image: unquote('"\\e955"');
$fb-icon-inbox-full: unquote('"\\e956"');
$fb-icon-inbox: unquote('"\\e957"');
$fb-icon-info-circle: unquote('"\\e958"');
$fb-icon-keyboard: unquote('"\\e959"');
$fb-icon-label: unquote('"\\e95a"');
$fb-icon-landmark: unquote('"\\e95b"');
$fb-icon-layers: unquote('"\\e95c"');
$fb-icon-life-saver: unquote('"\\e95d"');
$fb-icon-lightbulb: unquote('"\\e95e"');
$fb-icon-link: unquote('"\\e95f"');
$fb-icon-lock-open: unquote('"\\e960"');
$fb-icon-lock-time: unquote('"\\e961"');
$fb-icon-lock: unquote('"\\e962"');
$fb-icon-mail-box: unquote('"\\e963"');
$fb-icon-map-pin-alt: unquote('"\\e964"');
$fb-icon-map-pin: unquote('"\\e965"');
$fb-icon-message-caption: unquote('"\\e966"');
$fb-icon-message-dots: unquote('"\\e967"');
$fb-icon-messages: unquote('"\\e968"');
$fb-icon-minus: unquote('"\\e969"');
$fb-icon-mobile-phone: unquote('"\\e96a"');
$fb-icon-newspaper: unquote('"\\e96b"');
$fb-icon-objects-column-path1: unquote('"\\e96c"');
$fb-icon-objects-column-path2: unquote('"\\e96d"');
$fb-icon-palette: unquote('"\\e96e"');
$fb-icon-paper-clip: unquote('"\\e96f"');
$fb-icon-paper-plane: unquote('"\\e970"');
$fb-icon-pen-nib: unquote('"\\e971"');
$fb-icon-pen: unquote('"\\e972"');
$fb-icon-phone-hangup: unquote('"\\e973"');
$fb-icon-phone: unquote('"\\e974"');
$fb-icon-plus: unquote('"\\e975"');
$fb-icon-printer: unquote('"\\e976"');
$fb-icon-qr-code-path1: unquote('"\\e977"');
$fb-icon-qr-code-path2: unquote('"\\e978"');
$fb-icon-qr-code-path3: unquote('"\\e979"');
$fb-icon-question-circle: unquote('"\\e97a"');
$fb-icon-restore-window: unquote('"\\e97b"');
$fb-icon-rocket: unquote('"\\e97c"');
$fb-icon-ruler-combined: unquote('"\\e97d"');
$fb-icon-search: unquote('"\\e97e"');
$fb-icon-server-path1: unquote('"\\e97f"');
$fb-icon-server-path2: unquote('"\\e980"');
$fb-icon-share-nodes: unquote('"\\e981"');
$fb-icon-shield-check: unquote('"\\e982"');
$fb-icon-shield: unquote('"\\e983"');
$fb-icon-star-half-stroke: unquote('"\\e984"');
$fb-icon-star-half: unquote('"\\e985"');
$fb-icon-star: unquote('"\\e986"');
$fb-icon-swatchbook: unquote('"\\e987"');
$fb-icon-table-column: unquote('"\\e988"');
$fb-icon-table-row: unquote('"\\e989"');
$fb-icon-tablet: unquote('"\\e98a"');
$fb-icon-terminal: unquote('"\\e98b"');
$fb-icon-ticket: unquote('"\\e98c"');
$fb-icon-trash-bin: unquote('"\\e98d"');
$fb-icon-truck: unquote('"\\e98e"');
$fb-icon-upload: unquote('"\\e98f"');
$fb-icon-volume-down: unquote('"\\e990"');
$fb-icon-volume-up: unquote('"\\e991"');
$fb-icon-wand-magic-sparkles: unquote('"\\e992"');
$fb-icon-window: unquote('"\\e993"');
$fb-icon-zoom-in: unquote('"\\e994"');
$fb-icon-zoom-out: unquote('"\\e995"');
$fb-icon-calendar-plus: unquote('"\\e908"');
$fb-icon-annotation: unquote('"\\e901"');
$fb-icon-archive: unquote('"\\e902"');
$fb-icon-arrow-up-right-from-square: unquote('"\\e903"');
$fb-icon-atom: unquote('"\\e904"');
$fb-icon-award-path1: unquote('"\\e905"');
$fb-icon-award-path2: unquote('"\\e906"');
$fb-icon-adjustments-vertical: unquote('"\\e907"');
$fb-icon-adjustments-horizontal: unquote('"\\e900"');

